.fondo{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/fondo.jpg);   
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}
.fondoAnimado{
    animation: fondo 1s linear infinite;
}

.carro{
    width: 100%;
    height: 500px;
    display: flex;
    justify-items: center;
    align-items: center;
    position: relative;
}
.auto{
    width: 30%;
    position: absolute;
    left: 800px;
    top: 280px;
    z-index: 1000;
}
.llanta1{
    width: 2.2%;
    position: absolute;
    left: 996px;
    top: 590px;
    z-index: 1;
    
    
}
.llanta2{
    width: 2.2%;
    position: absolute;
    left: 850px;
    top: 590px;
    z-index: 1;
   
    
}
.llantaAnimada{
    animation: llantas 1s linear infinite;
}
.polvo1{
    width: 30%;
    position: absolute;
    left: 600px;
   top: 380px;
    z-index: 1;
    
}
.luz{
    width: 6%;
    opacity: 1;
    position: absolute;
    left: 1050px;
    bottom: -145px;
   

}
.luzAnimada{
    animation: luz .8s infinite linear;
}

@keyframes luz{
    50%{
        opacity: .5;
    }
}
@keyframes llantas{
    100%{
        transform: rotate(360deg);
    }
}
@keyframes fondo{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: -1000px;
    }

}